<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/default">
<head>
    <meta charset="UTF-8">
    <title>IBM Emp: Home</title>
    <script th:src="@{/resources/js/search2/main.js}"></script>
</head>
<body>
<div class="mainContainer">
    <div class = "titleContainer">
    </div>
    <div class = "contentContainer">
    </div>
    <div class = "bottomContainer">
    </div>
</div>

</body>
</html>